.navbar-brand {
    margin-right: 0rem;
}

.navbar__log {
    font-family: $times;
    font-size: $font-size-xxx-large;
    font-weight: $font-bold;
}

.navbar__log2 {
    font-size: $font-size-large;
    position: absolute;
    top: 6px;
}

.navbar__icons {
    i {
        display: flex-line;
        width: 100px;
        padding: 0em 0.5em;
        font-size: 1.2rem;
    }
}

.icon {
    display: hidden;
}

@media only screen and (max-width:767px) {
    .icon {
        display: none;
    }
}